In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
file = "../Data/MarketWatchPlus-1404_07_20.xlsx"

In [3]:
market = pd.read_excel(file, engine=None, storage_options=None, engine_kwargs=None)

In [4]:
market

,,.1,.2,.3,.4,.5,.6,.7,.8,.9,...,.13,.14,.15,.16,.17,.18,.19,.20,.21,.22
0,دیده بان بازار : 1404/07/20 - زمان آخرین معامل...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,نماد,نام,تعداد,حجم,ارزش,دیروز,اولین,آخرین معامله - مقدار,آخرین معامله - تغییر,آخرین معامله - درصد,...,کمترین,بیشترین,EPS,P/E,خرید - تعداد,خرید - حجم,خرید - قیمت,فروش - قیمت,فروش - حجم,فروش - تعداد
2,ضخاور715,اختيارخ خاور-700-14040727,0,0,0,1,0,1,0,0,...,0,0,NaN,NaN,1,100,1,0,0,0
3,ضخاور716,اختيارخ خاور-750-14040727,0,0,0,1,0,1,0,0,...,0,0,NaN,NaN,1,100,1,0,0,0
4,ضخاور718,اختيارخ خاور-850-14040727,0,0,0,1,0,1,0,0,...,0,0,NaN,NaN,1,100,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3659,والبر,سرمايه‌ گذاري‌ البرز(هلدينگ‌,537,64749230,116008996012,1740,1759,1792,52,2.99,...,1759,1792,468,3.83,50,14626688,1792,1802,7000,1
3660,ضسپا7016,اختيارخ خساپا-700-1404/07/30,0,0,0,1,0,1,0,0,...,0,0,NaN,NaN,0,0,0,1,292,1
3661,ضفزر803,اختيارخ فزر-50000-14040804,5,40,1170550000,32509,30850,29000,-3509,-10.79,...,29000,30850,NaN,NaN,1,1,28000,31131,5,1
3662,ضكاريس1007,اختيارخ كاريس-36000-14041015,0,0,0,1,0,1,0,0,...,0,0,NaN,NaN,1,1,4500,0,0,0
3663,صخوز412,صكوك مرابحه فخوز412-بدون ضامن,0,0,0,947625,0,947625,0,0,...,0,0,NaN,NaN,1,3750,900244,0,0,0

In [5]:
market.head()

,,.1,.2,.3,.4,.5,.6,.7,.8,.9,...,.13,.14,.15,.16,.17,.18,.19,.20,.21,.22
0,دیده بان بازار : 1404/07/20 - زمان آخرین معامل...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,نماد,نام,تعداد,حجم,ارزش,دیروز,اولین,آخرین معامله - مقدار,آخرین معامله - تغییر,آخرین معامله - درصد,...,کمترین,بیشترین,EPS,P/E,خرید - تعداد,خرید - حجم,خرید - قیمت,فروش - قیمت,فروش - حجم,فروش - تعداد
2,ضخاور715,اختيارخ خاور-700-14040727,0,0,0,1,0,1,0,0,...,0,0,NaN,NaN,1,100,1,0,0,0
3,ضخاور716,اختيارخ خاور-750-14040727,0,0,0,1,0,1,0,0,...,0,0,NaN,NaN,1,100,1,0,0,0
4,ضخاور718,اختيارخ خاور-850-14040727,0,0,0,1,0,1,0,0,...,0,0,NaN,NaN,1,100,1,0,0,0

In [6]:
market.drop(index=0).reset_index()

,index,,.1,.2,.3,.4,.5,.6,.7,.8,...,.13,.14,.15,.16,.17,.18,.19,.20,.21,.22
0,1,نماد,نام,تعداد,حجم,ارزش,دیروز,اولین,آخرین معامله - مقدار,آخرین معامله - تغییر,...,کمترین,بیشترین,EPS,P/E,خرید - تعداد,خرید - حجم,خرید - قیمت,فروش - قیمت,فروش - حجم,فروش - تعداد
1,2,ضخاور715,اختيارخ خاور-700-14040727,0,0,0,1,0,1,0,...,0,0,NaN,NaN,1,100,1,0,0,0
2,3,ضخاور716,اختيارخ خاور-750-14040727,0,0,0,1,0,1,0,...,0,0,NaN,NaN,1,100,1,0,0,0
3,4,ضخاور718,اختيارخ خاور-850-14040727,0,0,0,1,0,1,0,...,0,0,NaN,NaN,1,100,1,0,0,0
4,5,ضخاور720,اختيارخ خاور-950-14040727,0,0,0,1,0,1,0,...,0,0,NaN,NaN,1,100,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3658,3659,والبر,سرمايه‌ گذاري‌ البرز(هلدينگ‌,537,64749230,116008996012,1740,1759,1792,52,...,1759,1792,468,3.83,50,14626688,1792,1802,7000,1
3659,3660,ضسپا7016,اختيارخ خساپا-700-1404/07/30,0,0,0,1,0,1,0,...,0,0,NaN,NaN,0,0,0,1,292,1
3660,3661,ضفزر803,اختيارخ فزر-50000-14040804,5,40,1170550000,32509,30850,29000,-3509,...,29000,30850,NaN,NaN,1,1,28000,31131,5,1
3661,3662,ضكاريس1007,اختيارخ كاريس-36000-14041015,0,0,0,1,0,1,0,...,0,0,NaN,NaN,1,1,4500,0,0,0
3662,3663,صخوز412,صكوك مرابحه فخوز412-بدون ضامن,0,0,0,947625,0,947625,0,...,0,0,NaN,NaN,1,3750,900244,0,0,0

In [7]:
market.drop(index=0, inplace=True)

In [8]:
market

,,.1,.2,.3,.4,.5,.6,.7,.8,.9,...,.13,.14,.15,.16,.17,.18,.19,.20,.21,.22
1,نماد,نام,تعداد,حجم,ارزش,دیروز,اولین,آخرین معامله - مقدار,آخرین معامله - تغییر,آخرین معامله - درصد,...,کمترین,بیشترین,EPS,P/E,خرید - تعداد,خرید - حجم,خرید - قیمت,فروش - قیمت,فروش - حجم,فروش - تعداد
2,ضخاور715,اختيارخ خاور-700-14040727,0,0,0,1,0,1,0,0,...,0,0,NaN,NaN,1,100,1,0,0,0
3,ضخاور716,اختيارخ خاور-750-14040727,0,0,0,1,0,1,0,0,...,0,0,NaN,NaN,1,100,1,0,0,0
4,ضخاور718,اختيارخ خاور-850-14040727,0,0,0,1,0,1,0,0,...,0,0,NaN,NaN,1,100,1,0,0,0
5,ضخاور720,اختيارخ خاور-950-14040727,0,0,0,1,0,1,0,0,...,0,0,NaN,NaN,1,100,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3659,والبر,سرمايه‌ گذاري‌ البرز(هلدينگ‌,537,64749230,116008996012,1740,1759,1792,52,2.99,...,1759,1792,468,3.83,50,14626688,1792,1802,7000,1
3660,ضسپا7016,اختيارخ خساپا-700-1404/07/30,0,0,0,1,0,1,0,0,...,0,0,NaN,NaN,0,0,0,1,292,1
3661,ضفزر803,اختيارخ فزر-50000-14040804,5,40,1170550000,32509,30850,29000,-3509,-10.79,...,29000,30850,NaN,NaN,1,1,28000,31131,5,1
3662,ضكاريس1007,اختيارخ كاريس-36000-14041015,0,0,0,1,0,1,0,0,...,0,0,NaN,NaN,1,1,4500,0,0,0
3663,صخوز412,صكوك مرابحه فخوز412-بدون ضامن,0,0,0,947625,0,947625,0,0,...,0,0,NaN,NaN,1,3750,900244,0,0,0

In [9]:
market.reset_index(drop=True,inplace=True)

In [10]:
columns = ['symbol', 'name', 'count', 'volume', 'value', 'yesterday', 'first', 'last-trade-amount',  'last-trade-change', 'last-trade-percent', 'final-price-amount', 'fina-price-change', 'final-price-percent', 'lowest', 'highest', 'eps', 'p/e', 'buy-count', 'buy-volume', 'buy-price', 'sell-price', 'sell-volume', 'sell-amount']

In [11]:
market.columns = columns

In [12]:
market.columns

Index(['symbol', 'name', 'count', 'volume', 'value', 'yesterday', 'first',
       'last-trade-amount', 'last-trade-change', 'last-trade-percent',
       'final-price-amount', 'fina-price-change', 'final-price-percent',
       'lowest', 'highest', 'eps', 'p/e', 'buy-count', 'buy-volume',
       'buy-price', 'sell-price', 'sell-volume', 'sell-amount'],
      dtype='object')

In [13]:
market

,symbol,name,count,volume,value,yesterday,first,last-trade-amount,last-trade-change,last-trade-percent,...,lowest,highest,eps,p/e,buy-count,buy-volume,buy-price,sell-price,sell-volume,sell-amount
0,نماد,نام,تعداد,حجم,ارزش,دیروز,اولین,آخرین معامله - مقدار,آخرین معامله - تغییر,آخرین معامله - درصد,...,کمترین,بیشترین,EPS,P/E,خرید - تعداد,خرید - حجم,خرید - قیمت,فروش - قیمت,فروش - حجم,فروش - تعداد
1,ضخاور715,اختيارخ خاور-700-14040727,0,0,0,1,0,1,0,0,...,0,0,NaN,NaN,1,100,1,0,0,0
2,ضخاور716,اختيارخ خاور-750-14040727,0,0,0,1,0,1,0,0,...,0,0,NaN,NaN,1,100,1,0,0,0
3,ضخاور718,اختيارخ خاور-850-14040727,0,0,0,1,0,1,0,0,...,0,0,NaN,NaN,1,100,1,0,0,0
4,ضخاور720,اختيارخ خاور-950-14040727,0,0,0,1,0,1,0,0,...,0,0,NaN,NaN,1,100,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3658,والبر,سرمايه‌ گذاري‌ البرز(هلدينگ‌,537,64749230,116008996012,1740,1759,1792,52,2.99,...,1759,1792,468,3.83,50,14626688,1792,1802,7000,1
3659,ضسپا7016,اختيارخ خساپا-700-1404/07/30,0,0,0,1,0,1,0,0,...,0,0,NaN,NaN,0,0,0,1,292,1
3660,ضفزر803,اختيارخ فزر-50000-14040804,5,40,1170550000,32509,30850,29000,-3509,-10.79,...,29000,30850,NaN,NaN,1,1,28000,31131,5,1
3661,ضكاريس1007,اختيارخ كاريس-36000-14041015,0,0,0,1,0,1,0,0,...,0,0,NaN,NaN,1,1,4500,0,0,0
3662,صخوز412,صكوك مرابحه فخوز412-بدون ضامن,0,0,0,947625,0,947625,0,0,...,0,0,NaN,NaN,1,3750,900244,0,0,0

In [14]:
market.drop(index=0, inplace=True)

In [15]:
market

,symbol,name,count,volume,value,yesterday,first,last-trade-amount,last-trade-change,last-trade-percent,...,lowest,highest,eps,p/e,buy-count,buy-volume,buy-price,sell-price,sell-volume,sell-amount
1,ضخاور715,اختيارخ خاور-700-14040727,0,0,0,1,0,1,0,0,...,0,0,NaN,NaN,1,100,1,0,0,0
2,ضخاور716,اختيارخ خاور-750-14040727,0,0,0,1,0,1,0,0,...,0,0,NaN,NaN,1,100,1,0,0,0
3,ضخاور718,اختيارخ خاور-850-14040727,0,0,0,1,0,1,0,0,...,0,0,NaN,NaN,1,100,1,0,0,0
4,ضخاور720,اختيارخ خاور-950-14040727,0,0,0,1,0,1,0,0,...,0,0,NaN,NaN,1,100,1,0,0,0
5,ضخاور721,اختيارخ خاور-1000-14040727,0,0,0,1,0,1,0,0,...,0,0,NaN,NaN,1,100,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3658,والبر,سرمايه‌ گذاري‌ البرز(هلدينگ‌,537,64749230,116008996012,1740,1759,1792,52,2.99,...,1759,1792,468,3.83,50,14626688,1792,1802,7000,1
3659,ضسپا7016,اختيارخ خساپا-700-1404/07/30,0,0,0,1,0,1,0,0,...,0,0,NaN,NaN,0,0,0,1,292,1
3660,ضفزر803,اختيارخ فزر-50000-14040804,5,40,1170550000,32509,30850,29000,-3509,-10.79,...,29000,30850,NaN,NaN,1,1,28000,31131,5,1
3661,ضكاريس1007,اختيارخ كاريس-36000-14041015,0,0,0,1,0,1,0,0,...,0,0,NaN,NaN,1,1,4500,0,0,0
3662,صخوز412,صكوك مرابحه فخوز412-بدون ضامن,0,0,0,947625,0,947625,0,0,...,0,0,NaN,NaN,1,3750,900244,0,0,0

In [16]:
market.reset_index(drop=True, inplace=True)

In [18]:
market.head()

,symbol,name,count,volume,value,yesterday,first,last-trade-amount,last-trade-change,last-trade-percent,...,lowest,highest,eps,p/e,buy-count,buy-volume,buy-price,sell-price,sell-volume,sell-amount
0,ضخاور715,اختيارخ خاور-700-14040727,0,0,0,1,0,1,0,0,...,0,0,NaN,NaN,1,100,1,0,0,0
1,ضخاور716,اختيارخ خاور-750-14040727,0,0,0,1,0,1,0,0,...,0,0,NaN,NaN,1,100,1,0,0,0
2,ضخاور718,اختيارخ خاور-850-14040727,0,0,0,1,0,1,0,0,...,0,0,NaN,NaN,1,100,1,0,0,0
3,ضخاور720,اختيارخ خاور-950-14040727,0,0,0,1,0,1,0,0,...,0,0,NaN,NaN,1,100,1,0,0,0
4,ضخاور721,اختيارخ خاور-1000-14040727,0,0,0,1,0,1,0,0,...,0,0,NaN,NaN,1,100,1,0,0,0

In [19]:
market.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3662 entries, 0 to 3661
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   symbol               3662 non-null   object
 1   name                 3662 non-null   object
 2   count                3662 non-null   object
 3   volume               3662 non-null   object
 4   value                3662 non-null   object
 5   yesterday            3662 non-null   object
 6   first                3662 non-null   object
 7   last-trade-amount    3662 non-null   object
 8   last-trade-change    3662 non-null   object
 9   last-trade-percent   3662 non-null   object
 10  final-price-amount   3662 non-null   object
 11  fina-price-change    3662 non-null   object
 12  final-price-percent  3662 non-null   object
 13  lowest               3662 non-null   object
 14  highest              3662 non-null   object
 15  eps                  763 non-null    object
 16  p/e                  761 non-null    object
 17  buy-count            3662 non-null   object
 18  buy-volume           3662 non-null   object
 19  buy-price            3662 non-null   object
 20  sell-price           3662 non-null   object
 21  sell-volume          3662 non-null   object
 22  sell-amount          3662 non-null   object
dtypes: object(23)
memory usage: 658.1+ KB

In [25]:
market[['count','volume', 'value','yesterday', 'first',
       'last-trade-amount', 'last-trade-change']] = market[['count','volume', 'value', 'yesterday', 'first',
       'last-trade-amount', 'last-trade-change']].astype(int)

In [27]:
market[['last-trade-percent',
       'final-price-amount', 'fina-price-change', 'final-price-percent',
       'lowest', 'highest', 'eps', 'p/e', 'buy-count', 'buy-volume',
       'buy-price', 'sell-price', 'sell-volume', 'sell-amount']] = market[['last-trade-percent',
       'final-price-amount', 'fina-price-change', 'final-price-percent',
       'lowest', 'highest', 'eps', 'p/e', 'buy-count', 'buy-volume',
       'buy-price', 'sell-price', 'sell-volume', 'sell-amount']].astype(float)

In [29]:
market.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3662 entries, 0 to 3661
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   symbol               3662 non-null   object
 1   name                 3662 non-null   object
 2   count                3662 non-null   int64
 3   volume               3662 non-null   int64
 4   value                3662 non-null   int64
 5   yesterday            3662 non-null   int64
 6   first                3662 non-null   int64
 7   last-trade-amount    3662 non-null   int64
 8   last-trade-change    3662 non-null   int64
 9   last-trade-percent   3662 non-null   float64
 10  final-price-amount   3662 non-null   float64
 11  fina-price-change    3662 non-null   float64
 12  final-price-percent  3662 non-null   float64
 13  lowest               3662 non-null   float64
 14  highest              3662 non-null   float64
 15  eps                  763 non-null    float64
 16  p/e                  761 non-null    float64
 17  buy-count            3662 non-null   float64
 18  buy-volume           3662 non-null   float64
 19  buy-price            3662 non-null   float64
 20  sell-price           3662 non-null   float64
 21  sell-volume          3662 non-null   float64
 22  sell-amount          3662 non-null   float64
dtypes: float64(14), int64(7), object(2)
memory usage: 658.1+ KB

In [30]:
market.head()

,symbol,name,count,volume,value,yesterday,first,last-trade-amount,last-trade-change,last-trade-percent,...,lowest,highest,eps,p/e,buy-count,buy-volume,buy-price,sell-price,sell-volume,sell-amount
0,ضخاور715,اختيارخ خاور-700-14040727,0,0,0,1,0,1,0,0.0,...,0.0,0.0,NaN,NaN,1.0,100.0,1.0,0.0,0.0,0.0
1,ضخاور716,اختيارخ خاور-750-14040727,0,0,0,1,0,1,0,0.0,...,0.0,0.0,NaN,NaN,1.0,100.0,1.0,0.0,0.0,0.0
2,ضخاور718,اختيارخ خاور-850-14040727,0,0,0,1,0,1,0,0.0,...,0.0,0.0,NaN,NaN,1.0,100.0,1.0,0.0,0.0,0.0
3,ضخاور720,اختيارخ خاور-950-14040727,0,0,0,1,0,1,0,0.0,...,0.0,0.0,NaN,NaN,1.0,100.0,1.0,0.0,0.0,0.0
4,ضخاور721,اختيارخ خاور-1000-14040727,0,0,0,1,0,1,0,0.0,...,0.0,0.0,NaN,NaN,1.0,100.0,1.0,0.0,0.0,0.0